@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is to restrain the TextEditor from overflowing off the screen */
.mantine-Editor-root {
    overflow: scroll;
    max-height: calc(100vh - 6rem);
}

.tiptapeditor {
    overflow: scroll;
    max-height: calc(100vh - 3.5rem);
    padding-top: 3.5rem;
    padding-left: 3.5rem;
    outline: none;
}